.App {
  text-align: center;
}

.jumbotron {
  text-align: center;
  margin: 20px;
  background: darkseagreen;
  box-shadow: 0 4px 10px;
}

.body {
  padding-top: 50px;
}

.sidenav {
  height: 100%;
  width: 175px;
  position: fixed;
  background-color: rgb(182, 202, 189);
  outline-style: solid;
  outline-width: thin;
}

.sub-body {  
  margin-left: 170px;
}